version: '3.8'

services:
  anime-api:
    build: ./anime-api
    restart: unless-stopped
    ports:
      - "4444:4444"
    networks:
      - aniweb_net

  backend:
    build: ./backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - PORT=5000
    volumes:
      - backend_data:/app/data
    networks:
      - aniweb_net

  frontend:
    build: ./frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - aniweb_net

volumes:
  backend_data:


networks:
  aniweb_net:
    driver: bridge
