@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-panel {
    @apply bg-premium-800/80 backdrop-blur-md border border-white/10 shadow-xl;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f0f15;
}
::-webkit-scrollbar-thumb {
  background: #2b2b3a;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}
